<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .js-social-share {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-left: 0;
            line-height: 1;
            list-style: none;
        }
        
        .js-social-share li {
            padding-right: 1rem;
            height: 22px;
        }
    </style>

    <script>
        var el = document.querySelector('.entry-content');
        var notIndex = location.pathname !== '/';
        var notCategory = location.pathname.indexOf('category') === -1;
        var notTag = location.pathname.indexOf('tag') === -1;

        // 載入JS檔
        function appendJS(src) {
            var script = document.createElement("script");
            script.src = src;
            document.head.appendChild(script);
        }

        if (el && notIndex && notCategory && notTag) {

            var currentUri = document.querySelector('[rel="canonical"]').href;

            var fbBtn = '<div class="fb-like" data-href="' + currentUri + '" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>';
            var lineBtn = '<div class="line-it-button" data-lang="zh_Hant" data-type="share-a" data-ver="3" data-url="' + currentUri + '" data-color="default" data-size="small" data-count="true" style="display: none;"></div>';
            var twitterBtn = '<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>';

            var socialHTML = '<ul class="js-social-share">' +
                '<li>' + fbBtn + '</li>' +
                '<li>' + lineBtn + '</li>' +
                '<li>' + twitterBtn + '</li>' +
                '</ul>';
            el.insertAdjacentHTML('beforebegin', socialHTML);

            if (document.querySelector('.sharedaddy')) {
                var originShare = document.querySelector('.sharedaddy');
                originShare.insertAdjacentHTML('beforebegin', socialHTML);
            }

            appendJS('https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js');
            appendJS('https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.0');
            appendJS('https://platform.twitter.com/widgets.js');

        }
    </script>
</head>

<body>
    <uib-tabset justified="true" class="content-tabset content-2-tabset" active=1>
        <uib-tab heading="註冊會員">
            <div ng-controller="RegistrationsNewController">
                <div class="social-login-container">
                    <div>
                        <a class="btn btn-block btn-facebook-login" ng-href="{{facebook_url()}}" ng-hide="userForm.successMessages.length > 0">
                            <img ng-src="//{{staticImageHost}}/assets/misc/fb_login.png">
                            <span class="login-btn-label">使用Facebook註冊</span>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="tabset-title" ng-if="::!featureService.hasFeature('mobile_signup_p2')">
                    註冊電郵
                </div>
                <div class="alert alert-success" ng-show="userForm.successMessages && userForm.successMessages.length > 0">
                    <div ng-repeat="message in userForm.successMessages">
                        {{message}}
                    </div>
                </div>
                <div class="alert alert-info" ng-show="showMobileUnVerifiedMessage">
                    {{ 'users.signup.mobile_phone.unconfirmed' | translate }}
                </div>
                <div class="alert alert-info" ng-show="userForm.showUnVerifiedMessage">
                    {{ 'users.signup.unconfirmed' | translate: { email: unConfirmedEmail } }}
                </div>
                <div class="alert alert-danger" ng-show="userForm.errorMessages">
                    <div ng-repeat="message in userForm.errorMessages">
                        {{message}}
                    </div>
                </div>
                <div class="form-container" ng-hide="userForm.successMessages.length > 0">
                    <form ng-hide="mobileSignInStep" accept-charset="UTF-8" class="simple_form form-vertical" data-validate="true" novalidate name="userForm">
                        <div control-group data-field-name="用戶名" class="login-input">
                            <input autofocus="autofocus" class="line-input" name="name" ng-model="resource.name" placeholder="用戶名" type="text" required="true" ng-maxlength="50">
                        </div>

                        <!-- mobile phone phase2 signup select -->
                        <div ng-if="::featureService.hasFeature('mobile_signup_p2') && !resource.isMobilePhoneSignUp" class="login-input input-dropdown" control-group>
                            <select name="user_sign_up_selection" class="line-input" ng-change="changeSignupSelection()" ng-model="resource.isMobilePhoneSignUp" ng-options="item.value as item.label for item in signUpSelections"></select>
                            <i class="fa fa-angle-down dropdown-arrow"></i>
                        </div>
                        <!-- end of mobile phone phase2 signup select -->
                        <div control-group data-field-name="電郵" class="login-input" ng-if="!isMobilePhoneSignUp()">
                            <input class="line-input" name="email" ng-model="resource.email" placeholder="電郵" type="email" ng-minlength="4" ng-maxlength="50" ng-pattern="emailRegex" required>
                        </div>
                        <div control-group data-field-name="手機號碼" class="login-input intl-tel-flex-container" ng-if="isMobilePhoneSignUp()">
                            <input style="min-width: unset;" class="line-input intl-tel-input" name="mobilePhone" ng-model="resource.mobilePhone" on-change="onCountryCodeChange" ng-pattern="countryMobilePattern" ng-blur="formatMobilePhone()" required>
                        </div>
                        <div control-group data-field-name="密碼" class="login-input">
                            <input class="line-input" name="password" ng-model="resource.password" placeholder="密碼" type="password" required="true" ng-maxlength="50" ng-minlength="8">
                            <div class="text-left notice-content">至少8個字元</div>
                        </div>
                        <span ng-repeat="field in user_setting.general_fields" ng-switch="field.type">
                            <span ng-switch-when="gender">
                                <div class="login-input input-dropdown" ng-show="field.options.signup.include=='true'" control-group data-field-name="性別">
                                    <select
                                      name="user_gender"
                                      class="line-input"
                                      ng-model="resource.gender"
                                      ng-required="field.options.signup.required == 'true'"
                                      ng-options="item.id as item.label for item in genders"
                                    >
                                        <option value="" selected="selected">
                                          性別&nbsp;{{ field.options.signup.required == 'true' ? '' : '(選填)' }}
                                        </option>
                                    </select>
                                    <i class="fa fa-angle-down dropdown-arrow"></i>
                                </div>
                            </span>
                        <span ng-switch-when="birthday">
                                <div
                                  class="login-input datepicker-section"
                                  ng-show="field.options.signup.include == 'true'"
                                  control-group
                                  data-field-name="生日日期">
                                    <input
                                      class="line-input"
                                      ng-click="open($event)"
                                      name="user_birthday"
                                      uib-datepicker-popup="yyyy/MM/dd"
                                      ng-model="temp.birthday"
                                      is-open="datepicker.open"
                                      show-button-bar="false"
                                      datepicker-options="datepickerOptions"
                                      ng-required="field.options.signup.required == 'true'"
                                      placeholder="生日日期 (YYYY/MM/DD){{ field.options.signup.required == 'true' ? '' : '(選填)'}}"
                                    >
                                    <div
                                      ng-if="userForm.$submitted && ((userForm.user_birthday.$invalid && userForm.user_birthday.$error.valid) || userForm.$error.dateDisabled)"
                                      class="has-error">
                                        <p class="help-block">
                                          <p class="help-block" ng-if="isGreaterThanMaximumDate()"> {{ 'form.validation.birthday.invalid.minimum_age_limit'|translate: { minimumAgeLimit: minimumAgeLimit } }} </p>
                                          <p class="help-block" ng-if="isFeatureDate()"> {{ 'form.validation.birthday.invalid'|translate }} </p>
                                        </p>
                                    </div>
                                </div>
                            </span>
                        </span>
                        <span ng-repeat="field in user_setting.custom_fields" ng-switch="field.type">
                            <div class="login-input" ng-show="field.options.signup.include == 'true'" control-group data-field-name="{{ field.name_translations | translateModel }}">
                                <input 
                                  class="line-input" 
                                  type="text" 
                                  ng-model="resource.custom_data[field.field_id]" 
                                  dynamic-name="'user_custom_'+$index" 
                                  value="" 
                                  placeholder="{{ field.name_translations|translateModel }}{{ field.options.signup.required == 'true' ? '' : '(選填)' }}" 
                                  ng-maxlength="maxlength" 
                                  ng-required="field.options.signup.required == 'true'" 
                                  style="width:100%;"
                                >
                                <div class="text-left notice-content">{{ field.hint_translations|translateModel }}</div>
                            </div>
                        </span>
                        <label class="text-left">商店資訊及優惠方案</label>
                        <label class="text-left">
                            <input
                              class="text-left"
                              type="checkbox"
                              ng-model="subscription_tags['marketing.news']"
                            >
                            <span ng-if="!featureService.hasFeature('broadcast_unsubscribe_email')">發送至電郵或其他通訊方式</span>
                            <span ng-if="featureService.hasFeature('broadcast_unsubscribe_email')">訂閱電郵與簡訊</span>
                        </label>
                        <hr class="divider">
                        <label class="text-left" ng-show="featureService.hasFeature('tnc-checkbox')" ng-class="{'tnc-checkbox-error': userForm.submitted && !state.tncChecked}">
                            <input
                              class="text-left signup-page-checkbox"
                              type="checkbox"
                              ng-model="state.tncChecked"
                            >
                            我同意<a class='agree-highlight' href=/about/terms target='_blank'>網站服務條款及隱私政策</a>
                        </label>
                        <input type="hidden" name="user[owner_id]" value="59131c99080f06173f000308">
                        <div class="actions">
                            <button id="submit-btn" class="btn btn-success btn-block ladda-button btn-custom-large btn-color-primary " data-badge="none" data-style="slide-down" ladda=userForm.submitting ng-click="formSubmit()" ng-disabled="!state.tncChecked" disabled="disabled">
                                立即加入!
                            </button>

                        </div>
                    </form>
                </div>
                <!-- end form-container-->
            </div>
            <!-- end content -->
        </uib-tab>
        <uib-tab heading="會員登入">
            <div ng-controller="SessionsNewController">
                <div class="form-container ">
                    <div class="social-login-container">
                        <div>
                            <a class="btn btn-block btn-facebook-login" ng-href="/users/auth/facebook" ng-hide="userForm.successMessages.length > 0">
                                <img ng-src="//{{staticImageHost}}/assets/misc/fb_login.png" />
                                <span class="login-btn-label">使用Facebook登入</span>
                            </a>
                        </div>
                    </div>
                    <hr>
                    <div class="tabset-title">登入電郵</div>
                    <div class="alert alert-info" ng-show="userForm.showUnVerifiedMessage">
                        {{ 'users.signup.unconfirmed' | translate: { email: unConfirmedEmail } }}
                    </div>
                    <div class="alert alert-danger" ng-hide="true"></div>
                    <div class="alert alert-danger" ng-show="userForm.errorMessage">
                        <span ng-bind-html="userForm.errorMessage"></span>
                    </div>
                    <form accept-charset="UTF-8" class="simple_form form-vertical" data-validate="true" method="post" novalidate name="userForm">
                        <div control-group data-field-name="{{ 'users.fields.email' | translate }}" class="login-input">
                            <input class="line-input" name="mobile_phone_or_email" ng-model="resource.mobile_phone_or_email" placeholder="電郵" required="true" ng-minlength="4" ng-maxlength="50" ng-pattern="emailMobileRegex">
                        </div>
                        <div control-group data-field-name="{{'users.fields.password'|translate}}" class="login-input">
                            <input class="line-input" name="password" ng-model="resource.password" placeholder="密碼" type="password" required="true" ng-maxlength="50" ng-minlength="6">
                            <!-- The minimum validation is different fromt same one in signup/reset/forgot pw because we set minimum 6 when setting pw before -->
                        </div>
                        <input type="hidden" name="user[owner_id]" value="59131c99080f06173f000308">
                        <div class="actions">
                            <button id="sign-in-btn" class="btn btn-success btn-block ladda-button btn-custom-large btn-color-primary " data-badge="none" data-style="slide-down" ladda=userForm.submitting ng-click="formSubmit()" ng-class="{'simplified-disable': false && (!resource.mobile_phone_or_email || !resource.password)}">
                                開始購物吧！
                            </button>


                        </div>
                    </form>

                    <div class="links-container">



                        <a href="/users/password/new">忘記密碼?</a><br />
                        <!--        <a href="/users/confirmation/new">沒有收到確認信?</a><br />      -->

                    </div>

                </div>
                <!-- end form-container-->
            </div>
        </uib-tab>
    </uib-tabset>
</body>

</html>